.gallery {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
}
.column {
    width: 100%;
}
.gallery__img {
    position: relative;
    flex: 100%;
    max-width: 100%;
    margin-bottom: 1.5em;
}
.gallery__text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #ffffff;
}
.gallery__text > h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.gallery__text > p {
    font-size: 0.8125rem;
    font-weight: 400;
    opacity: 0.75;
}


@media (min-width: 500px){
    .gallery {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1.5em;
        max-width: 830px;
    }
    .column__two {
        width: 45%;
    }
}

@media (min-width: 1050px){
    .gallery {
        max-width: 100%;
    }
    .column__two {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }
    .column {
        width: 48%;
    }
}
